# Created by .ignore support plugin (hsz.mobi)
inputs/core_lists/*
inputs/classifications/*
inputs/indexes/*
inputs/fastq/*
inputs/legacy_metadata/*
inputs/legacy_profiles/*
inputs/schemas/*
inputs/prodigal_training_files/*
inputs/serotyping_files/*
inputs/backups/*
.idea
databases/*
docker-compose-test.yml
docs/build
!inputs/core_lists/inside.txt
!inputs/classifications/inside.txt
!inputs/indexes/inside.txt
!inputs/fastq/inside.txt
!inputs/legacy_metadata/inside.txt
!inputs/legacy_profiles/inside.txt
!inputs/schemas/inside.txt
!inputs/prodigal_training_files/inside.txt
!inputs/serotyping_files/inside.txt
!inputs/backups/inside.txt
!inputs/backups/initial/initial_compose_mlst
