# Created by .ignore support plugin (hsz.mobi)
inputs/core_lists/*
inputs/classifications/*
inputs/indexes/*
inputs/fastq/*
inputs/legacy_metadata/*
inputs/legacy_profiles/*
inputs/schemas/*
inputs/prodigal_training_files/*
inputs/serotyping_files/*
.idea
databases/*